/* Layout */
main {
  display: flex;
  flex-direction: column;
}

header, section#about, section#services, section#contact, footer {
  width: 43%;
  margin: 0 auto;
}

h1, small {
  text-align: center;
}

header {
  margin-top: 10vh;
}

header, section#about, section#services, section#contact {
  margin-bottom: 10vh;
}

/* Form Styling */
input, button, small {
  display: block;
}

input[type="text"] {
  width: 497px;
}

/* NavBar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
  width: 65%;
  margin: 2vh auto 0 auto;
}

span#logo {
  font-size: 2vw;
}

/* Header */
header {
  align-self: center;
}

header h1 {
  font-size: 4.5em;
}

header button {
  margin-left: 70%;
}

/* Services */
table {
  width: 30vw;
  height: 30vw;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  background-color: lightgrey;
}

td:hover {
  background-color: darkgrey;
}

/* Contact Form */
section#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#contact button {
  margin-left: 18vw;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
}

footer section {
  display: flex;
  justify-content: space-evenly;
}

footer h1 {
  font-size: 1em;
}

/* Button Styling */
button {
  border: 3px solid black;
  border-radius: 5px;
  padding: 1vh 2vw 1vh 2vw;
}

button:hover {
  background-color: darkgrey;
}
