body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

/* Buttons */

header button:active, input[type="submit"]:active {
  background-color: #B2867E;
}

/*  NavBar */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

nav a {
  display: none;
  color: white;
  text-decoration: none;
}

nav a:hover {
  font-weight: 700;
}

span#logo {
  padding-left: 5vw;
  color: white;
  font-weight: 900;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
  padding-top: 25vh;
  text-align: center;
}

header h1 {
  font-size: 1.5em;
  text-shadow: 1px 0 white;
  color: white;
}

header button {
  align-self: center;
  padding: 5px 10vw 5px 10vw;
  border: none;
  border-radius: 7.5px;
  background-color: #CC9086;
  color: white;
}

/* Background Image for Nav/Header */
div.nav-header {
  width: 100%;
  height: 100vh;
  background: url(../images/background.jpeg) no-repeat center center/cover;
}

/* About Section */
section#about {
  width: 85vw;
  text-align: center;
  color: grey;
}

section#about main {
  padding-top: 5vh;
}

/* Contact Section */
section#contact {
  width: 100%;
  text-align: center;
  background-color: #5C634B;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#contact div {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

section#contact form {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  background-color: #899470;
}

input, textarea {
  box-sizing: border-box;
}

input[type="submit"] {
  border: none;
  background-color: #CC9086;
  color: white;
}

input {
  border-radius: 7.5px;
  padding: 4vw;
  width: 90vw;
  margin-bottom: 2.5vh;
}

textarea {
  border-radius: 7.5px;
  width: 90vw;
  padding: 4vw;
  margin-bottom: 2.5vh;
}

/* Services Section */
section#services {
  width: 100%;
  margin-top: 5vh;
  padding-bottom: 5vh;
  background: #F2F2F2;
}
/*
Inspired by the dribble shot http://dribbble.com/shots/1285240-Freebie-Flat-Pricing-Table?list=tags&tag=pricing_table
*/

/*--------- Font ------------*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------ utiltity classes -----*/
.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}

body {
    line-height: 1;
    font-size: 16px;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
}

.pricing-table {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    width: 30%;
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*    border: 1px solid red;*/
}
/*Shared properties*/
.title,.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}
.content{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
  border-color: rgba(136, 183, 213, 0);
  border-width: 5px;
  margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{
    font-size: 3rem;
    font-weight: bold;
}
.price sup{
    font-size: 1.5rem;
    position: absolute;
    top: 12px;
    left: -12px;
}
.hint{
    font-style: italic;
    font-size: 0.9rem;
}
.features{
    list-style-type: none;
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 22%;
    font-size: 0.9rem;
}
.features li{
    padding:15px 0;
    width: 100%;
}
.features li span{
   padding-right: 0.4rem;
}
.pt-footer{
    font-size: 0.95rem;
    text-transform: capitalize;
}
/*PERSONAL*/
.personal .title{
    background: #78CFBF;
}
.personal .content,.personal .pt-footer{
    background: #82DACA;
}
.personal .content:after{
  border-top-color: #82DACA;
}
.personal .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*PROFESSIONAL*/
.professional .title{
    background: #3EC6E0;
}
.professional .content,.professional .pt-footer{
    background: #53CFE9;
}
.professional .content:after{
  border-top-color: #53CFE9;
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*BUSINESS*/
.business .title{
    background: #E3536C;
}
.business .content,.business .pt-footer{
    background: #EB6379;
}
.business .content:after{
  border-top-color: #EB6379;
}
.business .pt-footer:after {
  border-top-color: #FFFFFF;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 5vh;
  padding-bottom: 3vh;
}

footer h1 {
  font-size: .6em;
}

footer small {
  font-size: .5em;
}

section#contact-info {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-bottom: 2vh;
}

section#contact-info div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

section#contact-info span {
  text-align: right;
}

svg {
  color: initial;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  /* NavBar */
  nav {
    justify-content: space-around;
    font-size: 1.4em;
  }

  nav a {
    display: initial;
  }

  span#logo {
    padding-left: 0;
  }

  /* Header */
  header {
    width: 65vw;
  }

  header h1 {
    font-size: 2.5em;
  }

  header button {
    padding: 10px 4vw 10px 4vw;
  }

  /* Contact Section */
  section#contact div {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  input {
    padding: 3vw;
    width: 55vw;
  }

  textarea {
    width: 55vw;
    padding: 3vw;
  }

  /* Footer */
  section#contact-info {
    flex-direction: row;
    justify-content: space-evenly;
    width: 65%;
  }

  section#contact-info div {
    display: initial;
  }
}

@media only screen and (min-width: 1024px) {
  /* About Section */
  section#about {
    width: 75vw;
  }

  /* Contact Section */
  input {
    padding: 2vw;
    width: 40vw;
  }

  textarea {
    width: 40vw;
    padding: 2vw;
  }
}

@media only screen and (min-width: 1440px) {
  /* NavBar */
  nav {
    font-size: 1.6em;
  }

  /* Header */
  header h1 {
    font-size: 4em;
  }

  header button {
    padding: 20px 6vw 20px 6vw;
  }

  /* About Section */
  section#about {
    width: 60vw;
  }

  /* Contact Section */
  input {
    padding: 1vw;
    width: 35vw;
  }

  textarea {
    width: 35vw;
    padding: 1vw;
  }

  /* Footer */
  section#contact-info {
    width: 50%;
  }

  footer h1 {
    font-size: .8em;
  }

  footer small {
    font-size: .7em;
  }
}

@media only screen and (min-width: 1600px) {
  /* NavBar */
  nav {
    font-size: 2em;
  }

  /* Header */
  header {
    width: 45vw;
  }

  header h1 {
    font-size: 5em;
  }

  /* Contact Section */
  input {
    width: 25vw;
  }

  textarea {
    width: 25vw;
  }

  /* About Section */
  section#about {
    width: 30vw;
  }

  /* Footer */
  footer h1 {
    font-size: 1em;
  }

  footer small {
    font-size: .9em;
  }
}
